* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14pt;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#links li {
  display: inline;
  list-style-type: none;
}

.blackbox {
  background-color: black;
  padding: 30px;
  opacity: 0.9;
  margin-bottom: 37px;
}

.dot {
  margin-right: 0.2em;
}

.slim {
  font-weight: 100;
}

.item {
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  #links li {
    display: block;
  }
}
